
// SOCIAL MEDIA COLOR
	$twitter: #68cdef;
	$linkedin: #008bc3;
	$facebook: #517ebc;
	$behance: #1dade1;
	$mail: #92cadc;
	$google-plus: #d2463b;
	$instagram: #517fa4;
	$youtube: #CC181E;
	$pinterest: #AB171E;

//  COLORS
	$black: #000;
	$white: #FAFAFA;
	$lightgrey: #AEAEAE;
	$blue: #2D3E50;
	$lightblue: #80DCFF;
	$green: #1BBC9B;
	$red: #E64C66;

//  SIZES
	$phone: 768px;
	$tablet: 992px;
