@import "bootstrap-reset/bootstrap-reset";
@import "variables/variables";
@import "mixins/mixins";
@import 'https://fonts.googleapis.com/css?family=Rubik:300,400,700';

html{vertical-align: middle !important}
h5{font-size: 20px; font-weight: 300;}
h4{font-size: 25px; font-weight: 300;}
h3{font-size: 28px; font-weight: 300;}
h2{font-size: 31px; font-weight: 300;}
h1{font-size: 34px; font-weight: 300;}
p{
    font-size: 16px; 
    line-height: 20px;
    font-weight: 300;
}
html{
    margin-left:0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
body{
    font-family: 'Rubik', sans-serif; 
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    background-color:$white;
    color:$black;
    float: left;
    width: 100%;
    padding-bottom: 0px;
    margin-left:0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    @media screen and (max-width: $phone) {
        padding-top: 10px;
    }
}
.mobileActive{
    margin-left: 25vw;
    overflow: hidden;
}
.mobilePassive{
    margin-left: 0;
    overflow: auto;
}

a, a:hover, a:focus, a:active, a:visited{
    cursor: pointer;
    text-decoration: none;
    color: $blue;
}

section.content-wrapper{
    z-index: 9;
    position: relative;
    padding: 80px;
    bottom: 0;
    margin-top: 100px;
    @media screen and (max-width: $phone) {
            padding: 0px;
        }
}

.back-lines{
    z-index: 0;
    background-color: $blue;
    position: fixed;
    -ms-transform: rotate(45deg) skewX(20deg); /* IE 9 */
    -webkit-transform: rotate(45deg) skewX(20deg); /* Safari */
    transform: rotate(45deg) skewX(20deg);
    transform-origin: (top left);
    -ms-transform-origin: (top left);
    -webkit-transform-origin: (top left);
    width: 160%;
    height: 100px;
    top: -200px;
    @media screen and (max-width: $phone) {
            width: 160%;
            top: -200px;
            -ms-transform: rotate(50deg) skewX(20deg); /* IE 9 */
            -webkit-transform: rotate(50deg) skewX(20deg); /* Safari */
            transform: rotate(50deg) skewX(20deg);
        }
    &:before{
        content: '';
        z-index: 0;
        background-color: $red;
        position: absolute;
        top: -10px;
        transform-origin: (top left);
        -ms-transform-origin: (top left);
        -webkit-transform-origin: (top left);
        width: 160%;
        height: 100px;
        @media screen and (max-width: $phone) {
            width: 160%;
            -ms-transform: rotate(2deg) skewX(20deg); /* IE 9 */
            -webkit-transform: rotate(2deg) skewX(20deg); /* Safari */
            transform: rotate(2deg) skewX(20deg);
        }
    }

}
.content-container{
    overflow: hidden;
}

header{
    .flex-container{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    section.fixed-nav{
        background-color: #FFF;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        .type-col{
            text-align: left;
            .type{
                display: inline-block;
                img{
                    height: 50px;
                }
            }
            img{
               margin: 0 auto;
               display: inline-block;
            }
        }
        .logo-col{
            text-align: center;
        }
        .menu-col{
            text-align: right;
            nav.menu-desktop{
                a{
                    padding-left: 25px;
                }
            }
        }
    }
    section.mobile-nav{
        .mobileActive{
            margin-left: 0 !important;
        }
        .mobile-menu-row{
            background-color: $lightblue;
            z-index: 99;
            padding: 10px 0;
            width: 100%;
            position: fixed;
            height: 60px;
            top: 0;
            left: 0;
        }
        .logo-col{
            position: relative;
            float: left;
            padding-left: 20px;
            img{
                height: 40px;
                width: auto;
            }
        }
        .menu-col{
            position: relative;
            padding-right: 20px;
            i{
                font-size: 25px;
                float: right;
                padding-top: 5px;
            }
        }
        .mobile-menu-open{
            z-index: 9999;
            background-color: $green;
            position: fixed;
            height: 100vh;
            width: 50vw;
            margin-left: -50vw;
            top: 0;
            left: 0;
            padding-left: 25px;
            padding-top: 25vh;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            transition: all 0.8s;
            ul>li{
                font-size: 20px;
                padding-bottom: 20px;
                a{
                    color:$white;
                    font-weight: 700;
                }
            }
        }

    }
}

section#about{
    border: 5px solid $blue;
    background-color: $lightblue;
    @media screen and (max-width: $phone) {
        background-color: $white;
    }
    .title-row{
        position: relative;
        border: 5px solid $blue;
        background-color: $white;
        text-align: center;
        padding: 10px;
        @media screen and (max-width: $phone) {
            text-align: center;
            border:0;
            border-bottom: 5px solid $blue;
            padding: 5px;
        }
        &:before{
            @media screen and (max-width: $phone) {
                width: 0;
                height: 0;
            }
            position: absolute;
            width: 100%;
            height: 60px;
            z-index: -1;
            left: -10px;
            top: -10px;
            background-color: $blue;
        }
        h1{
            color: $black;
        }
    }
    .content-row{
        position: relative;
        border: 5px solid $blue;
        margin-top: 25px;
        background-color: $white;
        @media screen and (max-width: $phone) {
            padding: 5px;
            border: 0;
            margin-top: 5px;
        }
        &:before{
            @media screen and (max-width: $phone) {
                width: 0;
                height: 0;
            }
            position: absolute;
            width: 100%;
            height: 160px;
            z-index: -1;
            left: -10px;
            top: -10px;
            background-color: $blue;
        }
        p{
            color: $blue;
            @media screen and (max-width: $phone) {
                text-align: center;
                font-size: 14px;
            }

        }
        padding: 25px;
        .flex-container{
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .image-col{
            text-align: center;
            padding-bottom: 10px;
            span.greetings{
                z-index: 9;
                @include background-image('talking-baloon');
                background-size: 80px 60px;
                background-position: center;
                background-repeat: none;
                position: absolute;
                top: -13px;
                left: 15px;
                min-width:80px;
                min-height: 60px;
                color: $blue;
                p{
                    color: $blue;
                    padding-top: 15px;
                }
            }
            img{
                width: 80%;
                height: auto;
                color:$blue;
                @media screen and (max-width: $phone) {
                    width: 50%;
                }
            }
        }
        .text-col{
          p{

          }
        }
    }
    
}

section#services{
    background-color: $red;
    border: 5px solid $blue;
    z-index: 9;
    text-align: center;
    border: 5px solid $blue;
    color: $blue;
    padding: 50px;
    @media screen and (max-width: $phone) {
        text-align: center;
        padding: 0px;
        background-color: $white;
    }
    .title-row{
        position: relative;
        background-color: $white;
        border: 5px solid $blue;
        padding: 10px;
        @media screen and (max-width: $phone) {
            padding: 5px;
            border: 0;
            border-bottom: 5px solid $blue;
        }
        &:before{
            @media screen and (max-width: $phone) {
                width: 0;
                height: 0;
            }
            position: absolute;
            width: 100%;
            height: 60px;
            z-index: -1;
            left: -10px;
            top: -10px;
            background-color: $blue;
        }
        h1{
            color: $blue;
        }
    }
    .services-row{
        position: relative;
        background-color: $white;
        text-align: center;
        padding: 25px;
        margin-top: 25px;
        border: 5px solid $blue;
        @media screen and (max-width: $phone) {
            padding: 0px;
            border: 0;
            margin-top: 5px;
        }
        &:before{
            @media screen and (max-width: $phone) {
                display: none;
            }
            position: absolute;
            width: 100%;
            height: 270px;
            z-index: -1;
            left: -10px;
            top: -10px;
            background-color: $blue;
        }
        .service-item-col{
            padding: 10px;
            @media screen and (max-width: $phone) {
                &:nth-child(odd){
                    padding-left: 0;
                }
                &:nth-child(even){
                    padding-right: 0;
                }
            }
            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
            }
        }
        .service-item{
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            padding-top: 20px;
            padding: 25px;
            @media screen and (max-width: $phone) {
                padding: 10px;
            }
            .service-image{
                img{
                    @media screen and (max-width: $tablet) {
                        height: 100px;
                        width: 50%;
                    }
                    margin: 0 auto;
                }
            }
            .service-text{
                padding-top: 20px;
                @media screen and (max-width: $phone) {
                    padding-top: 5px;
                }
                h5{
                    @media screen and (max-width: $phone) {
                        font-size: 14px;
                    }
                    color:$blue;
                }                
            }
        }
    }
}
section#portfolio{
    position: relative;
    padding: 50px;
    background-color: $green;
    border: 5px solid $blue;
    @media screen and (max-width: $phone) {
        padding: 0px;
        background-color: $white;
    }
    .title-row{
        position: relative;
        border: 5px solid $blue;
        padding: 10px;
        background-color: $white;
        text-align: center;
        @media screen and (max-width: $phone) {
            text-align: center;
            border: 0;
            border-bottom: 5px solid $blue;
        }
        &:before{
            @media screen and (max-width: $phone) {
                display: none;
            }
            position: absolute;
            width: 100%;
            height: 70px;
            z-index: -1;
            left: -10px;
            top: -10px;
            background-color: $blue;
        }
        h1{
            color:$blue;
        }
    }
    .content-row{
        padding: 25px;
        position: relative;
        background-color: $white;
        border: 5px solid $blue;
        margin-top: 25px;
        font-family: 'Rubik', sans-serif;
        @media screen and (max-width: $phone) {
            padding: 5px;
            border: 0;
            margin-top: 5px;
        }
        &:before{
            @media screen and (max-width: $phone) {
                display: none;
            }
            position: absolute;
            width: 100%;
            height: 470px;
            z-index: -1;
            left: -10px;
            top: -10px;
            background-color: $blue;
        }
        .seperator{
             visibility: hidden;
             display: block;
             font-size: 0;
             content: " ";
             clear: both;
             height: 0;
        }
        .portfolio-item{
            @media screen and (max-width: $phone) {
                padding: 5px;
            }
            &:nth-child(3n+1){
                padding-left: 0;
                @media screen and (max-width: $phone) {
                    padding: inherit;
                }
            }
            &:nth-child(3n+3){
                padding-right: 0;
                @media screen and (max-width: $phone) {
                    padding: inherit;
                }
            }

            .portfolio-single-item{
                padding: 10px;
                min-height: 100px;
                display: block;
                margin: 20px;
                background-color: #fff;
                @media screen and (max-width: $phone) {
                    text-align: center;
                    min-height: auto;
                    margin:0;
                }
                span.see-detail{
                    @media screen and (max-width: $phone) {
                        padding-top: 18%;
                        text-align: center;
                    }
                    padding-top: 12%;
                    top: 0;
                    left: 0;
                    z-index: 99;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s ease 0s; 
                    -webkit-transition: all 0.3s ease 0s; 
                    text-align: center;
                    opacity: 0;
                    vertical-align: middle;
                    a{
                        @media screen and (max-width: $phone) {
                            font-size: 10px;
                            padding: 2px;
                            margin: 2px 2px 5px 2px;
                        }
                        display: block;
                        margin: 10px;
                        background-color: $blue;
                        padding: 5px;
                        color:$white;
                        font-weight: 500;
                        line-height: 20px;
                    }
                    &:hover{
                        opacity: 1;
                    }
                }
                &:hover:after{
                    height: 100%;
                }
                &:after{
                    content: "";
                    background-color: $green;
                    left:0;
                    bottom: 0; 
                    margin: 0 auto; 
                    width: 100%;
                    height: 0px;
                    position: absolute; 
                    transition: all 0.1s ease 0s; 
                    -webkit-transition: all 0.1s ease 0s; 
                    opacity: 0.9;
                }
                .portfolio-title{
                    @media screen and (max-width: $phone) {
                        padding: 0;
                    }
                    h4{
                        font-size: 20px;
                        font-weight: 300;
                        color: $blue;
                        @media screen and (max-width: $phone) {
                            font-size: 15px;
                        }
                    }
                    p{
                        margin-top: 10px;
                        color:$blue;
                        min-height: 40px;
                        @media screen and (max-width: $phone) {
                            font-size: 10px;
                        }

                    }
                    text-align: center;
                    padding: 5px;
                    color: $white;
                }
                .portfolio-image{
                    img{
                        @media screen and (max-width: $phone) {
                            width: 80%;
                        }
                        width: 50%;
                        margin: 0 auto;
                    }
                }
                .type{
                    border-top: 1px solid $lightgrey;
                    padding-top: 10px;
                    text-align: center;
                    @media screen and (max-width: $phone) {
                        min-height: 70px;
                        vertical-align: middle;
                    }
                    span{
                        display: inline-block;
                        text-align: center;
                        padding: 2px;
                        margin-bottom: 5px;
                    }
                    span.fe{
                        background-color: $red;
                        color: $blue;
                    }
                    span.de{
                        background-color: $blue;
                        color: $white;
                    }
                }
            }
        }
    }    
}

section#contact{
    background-color: $lightblue;
    border: 5px solid $blue;
    @media screen and (max-width: $phone) {
        background-color: $white;
    }
    .title-row{
        position: relative;
        background-color: $white;
        text-align: center;
        border: 5px solid $blue;
        color: $blue;
        padding: 10px;
        @media screen and (max-width: $phone) {
            border: 0;
            border-bottom: 5px solid $blue;
            text-align: center;
        }
        &:before{
            @media screen and (max-width: $phone) {
                width: 0;
                height: 0;
            }
            position: absolute;
            width: 100%;
            height: 60px;
            z-index: -1;
            left: -10px;
            top: -10px;
            background-color: $blue;
        }
    }
    .content-row{
        position: relative;
        background-color: $white;
        border: 5px solid $blue;
        margin-top: 25px;
        padding-top: 25px;
        @media screen and (max-width: $phone) {
            border: 0;
        }
        &:before{
            @media screen and (max-width: $phone) {
                width: 0;
                height: 0;
            }
            position: absolute;
            width: 100%;
            height: 190px;
            z-index: -1;
            left: -10px;
            top: -10px;
            background-color: $blue;
        }
        h5{
            @media screen and (max-width: $phone) {
                font-size: 15px;
            }
        }
        .info-col{
            text-align: center;
            p{
                padding-top: 10px;
            }
            a:hover{
                background-color: $green;
                color:$white;
                padding: 5px;
            }

        }
        .social-col{
            padding-top: 25px;  
            text-align: center;
            ol.social-links{
                line-height: 45px;
                padding-top: 15px;
                display: inline-block;
                a.linkedin:hover{
                    color:#006fa6 !important
                }
                a.github:hover{
                    color: #CCC
                }
                li{
                    float: left;
                    font-size: 25px;
                    padding-left: 25px;
                }
            }
        }
        
    }
}

footer{
    margin-top: 50px;
    background-color: $lightblue;
    z-index: 99;
    padding: 10% 0;
    text-align: center;
    .disclaimer{
        background-color: $white;
        border: 5px solid $blue;
        width: 60%;
        padding: 20px;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }
}